html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
}

.deck {
  position: absolute;
  width: 100%;
  height: 0%;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: white;
  background-size: 90% 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 200px;
  max-width: 200px;
  height: 85vh;
  max-height: 300px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 50px -10px rgba(50, 50, 73, 0.4),
    0 10px 10px -10px rgba(50, 50, 73, 0.3);
}
